.container {
  margin: 0 auto;
  width: 60%;
  /*   border: 1px solid red; */
  height: auto;
  margin-bottom: 5rem;
}

.img {
  max-height: 20rem;
  margin-top: 3rem;
  height: 10rem;

  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.2s;
  & > .productPrice {
    border: 1px solid blue;
    margin-bottom: 3rem;
  }
}
.productName {
  font-size: 18px;
  text-decoration: none;
  outline: none;
  color: black;
  text-align: center;
  margin-top: clamp(10px, 1rem, 25px);
}
.productPrice {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.sellingList {
  margin-top: 60%;
  list-style-type: none;
}
.category {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.productContainer {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;

  position: relative;
  overflow: hidden;
  width: 18rem;
  min-height: 25rem;
  max-height: 35rem;

  .products {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s, opacity 0.3s;

    &:hover {
      transform: scale(0.9) translateY(-25%);
    }
  }

  .hoverText {
    border: 1px solid red;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }

  &:hover .hoverText {
    opacity: 1;
  }
}

// TODO add viewport for mobile and laptops, remove carousell
