.checkout {
  display: flex;

  justify-content: space-evenly;
  align-items: stretch;
  /* flex-flow: row wrap; */
  flex-direction: row;
  flex-wrap: wrap;

  padding: 15px;
  gap: 5px;

  &__productContainer {
  }

  &__productPicture {
    min-width: 35rem;
    border: 1px solid #d9d9d9;
    border-radius: 1%;
    display: flex;

    justify-content: flex-start;
    align-items: stretch;
    /* flex-flow: row wrap; */
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 5%;
    padding: 15px;
  }
  &__productInfo {
    margin-left: 5%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
}
.tests {
  border: 1px solid red;
  display: flex;

  justify-content: flex-start;
  align-items: stretch;
  /* flex-flow: row wrap; */
  flex-direction: row;
  flex-wrap: wrap;

  height: 100%;
  padding: 15px;
  gap: 5px;
}
.payment {
  min-width: 15%;
  text-align: center;
  &__container {
    width: 100%;
    border-radius: 1%;
    height: 20rem;
    background-color: #f5f5f5;
  }

  &__price {
    font-size: 18px;
    display: inline-block;
  }
}
.btnCenter {
  text-align: center;
}
.btn {
  border: 1px solid #d9d9d9;
  background-color: white;
  min-width: 30%;
  height: 2rem;
  margin-top: 10%;
  cursor: pointer;
}
.line {
  width: 80%;
  border: 1px solid #a3a3a3;
  margin: 0 auto;
}

.removeProduct {
  cursor: pointer;
}
.productImage {
  cursor: pointer;
}
.product {
  &__title {
    font-weight: 700;
    align-items: center;
  }
  &__price {
    font-weight: 700;
  }
}

.removeItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.addDecreamentCounter {
  display: flex;
  flex-direction: row;
  & > div {
    padding: 2px;
  }
  background-color: #d9d9d9;
}
