.navbar__primary {
  display: flex;

  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;

  padding: 25px;
  gap: 50px;

  & > div {
    border-radius: 5px;
    padding: 8px;
  }
  & > .item3 {
    flex-grow: 1;
  }
}

.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  flex-wrap: wrap;

  padding: 15px;
  gap: 2%;
  & > h1 {
    margin: 0;
  }

  &__search {
    min-width: 12%;
    width: 12%;
    height: 25px;
    outline: none;
    border: 1px solid black;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 25px;
  }
  &__text {
    margin: 10px;
  }
}
.icon {
  cursor: pointer;
}

.headerTitle {
  font-size: 32px;
  font-weight: 100;

  & > a {
    outline: none;
    color: black;
    text-decoration: none;
  }
}

.navbar__menu {
  height: 10%;

  display: flex;

  justify-content: center;
  align-items: center;
  /* flex-flow: row wrap; */
  flex-direction: row;
  flex-wrap: wrap;

  //background-color: #f5f5f5; // TODO: change back to original? Try color below out and possibly change back
  background-color: #fef0ef;
  height: 100%;
  padding: 15px;
  gap: 5px;
  margin-bottom: 2.5rem;

  & > button {
    border: 1px solid green;
  }

  & > span {
    margin: 10px;
    cursor: pointer;
    & > a {
      font-size: 18px;
      padding: 10px;
      outline: none;
      color: black;
      text-decoration: none;
    }
  }
  & > span:hover {
    text-decoration: underline;
  }
}

.freeShipping {
  text-align: center;
  margin-top: 2%;
  font-size: 16px;
}
